In [1]:
# 1.	Print All Elements in a List Using a For Loop
list1=[1,2,3,4,5]
for i in list1:
    print(i,end=' ')

1 2 3 4 5

In [2]:
# 2.	Calculate the Sum of All Numbers in a List
list1=[1,2,3,4,5]
sum=0
for i in list1:
    sum=sum+i
print(sum)

15

In [5]:
# 3.	Find the Factorial of a Given Number
num=5
fact=1
for i in range(1,num+1):
    fact=fact*i
fact

120

In [3]:
# 4.	Print the Multiplication Table of a Given Number
num=2
for i in range(1,11):
    print(f"{num} * {i} = {num*i} ")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [4]:
# 5.	Print the Fibonacci Sequence Up to n Terms
n=5
a=0
b=1
print(a,end=' ')
print(b,end=' ')
c=0
for i in range(1,6):
    c=a+b
    print(c,end=' ')
    a=b
    b=c

0 1 1 2 3 5 8

In [ ]:
# # 6.	Count the Number of Even and Odd Numbers in a List
list1=[1,2,3,4,5]
even_count=0
odd_count=0
for i in list1:
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1
print(even_count)
print(odd_count)

2
3

In [7]:
# 7.	Reverse a String Using a For Loop
str1='python'
rev=''
n=len(str1)
for i in range(n-1,-1,-1):
    rev=rev+str1[i]
print(rev)

nohtyp

In [9]:
# 8.	Find the Maximum and Minimum Values in a List
list1=[1,2,3,4,5]
min_element=list1[0]
max_element=list1[0]
for i in list1:
    if i<min_element:
        min_element=i
print(min_element)
for i in list1:
    if i>max_element:
        max_element=i
print(max_element)

1
5

In [ ]:
# 9.	Print All Prime Numbers Within a Given Range
first=1
last=50
count=0
for i in range(first,last+1):
    for j in range(2,last-1):
        if i%j==0:
            count+=1

In [11]:
# 10.	Iterate Over a Dictionary and Print Each Key-Value Pair
student = {
    "name": "Pravin",
    "age": 21,
    "course": "Python"
}
for k,v in student.items():
    print(k,':',v)

name : Pravin
age : 21
course : Python

In [13]:
# 11.	Find the Length of Each Word in a List of Strings
list1=['python','programming']
for i in list1:
    print(i,':',len(i))

python : 6
programming : 11

In [15]:
# 12.	Create a List of Squares for Numbers From 1 to 10
list1=[]
for i in range(1,11):
    list1.append(i*i)
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# 13.	Filter Out Only Positive Numbers From a List
list1=[101,-12,-20,455,67460]
list2=[]
for i in list1:
    if i>0:
        list2.append(i)
list2

[101, 455, 67460]

In [17]:
# 14.	Print Each Character of a String Separately
str1='python'
for i in str1:
    print(i,end=' ')

p y t h o n

In [ ]:
# 15.	Check if an Element Exists in a List Without Using the in Keyword
list1[1,2,3,4,5]
element=5