In [1]:
# 1.	Remove Duplicates from a List Using a Set
list1=[1,2,3,3,4,22,3,4,2]
list2=set(list1)
list2

{1, 2, 3, 4, 22}

In [2]:
# 2.	Find the Union of Two Sets
set1={1,2,3,4,5}
set2={4,5,6,7,8,9}
set3=set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
# 3.	Find the Intersection of Two Sets
set1={1,2,3,4,5}
set2={4,5,6,7,8,9}
set3=set1.intersection(set2)
set3

{4, 5}

In [4]:
# 4.	Find the Difference Between Two Sets
set1={1,2,3,4,5}
set2={4,5,6,7,8,9}
set3=set1.difference(set2)
set3

{1, 2, 3}

In [7]:
# 5.	Check if a Set is a Subset of Another Set
set1={1,2,3,4,5}
set2={4,5,6,7,8,9}
set3=set1.contains(set2)
set3

AttributeError: 'set' object has no attribute 'contains'

In [ ]:
# 7.	Remove an Element from a Set
set1={1,2,3,4,5}
set1.pop(3)
set1

[1, 2, 3, 5]

In [10]:
set1={1,2,3,4,5}
set1.add(45)
set1

{1, 2, 3, 4, 5, 45}

In [11]:
set1={1,2,3,4,5}
a=len(set1)
if a==0:
    print('empty')
else:
    print('not empty')

not empty

In [12]:
# 11.	Convert a List to a Set and Vice Versa
list1=[1,2,3,4,5,6]
set1=set(list1)
print(set1)
set2={1,2,3,4,5}
list2=list(set2)
print(list2)

{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5]

In [13]:
# 12.	Check if Two Sets are Equal
set1={1,2,3,4,5}
set2={1,2,3,4,5}
if set1==set2:
    print('equal')
else:
    print('not equal')

equal

In [14]:
# 13.	Get All Unique Characters from a String Using a Set
str1="pythonisbest"
set1=set(str1)
set1

{'b', 'e', 'h', 'i', 'n', 'o', 'p', 's', 't', 'y'}

In [20]:
# 14.	Count the Number of Unique Elements in a List
list1=[1,2,3,4,5,5,42,3]
set1=set()
for i in list1:
    set1.add(i)
count=len(set1)
print(count)

6

In [22]:
# 15.	Iterate Over a Set and Print Each Element
set1={1,2,3,4,5,5}
for i in set1:
    print(i,end=' ')

1 2 3 4 5